
<%if(user) { %>
<div class="container">
<form action="/post" class="form-inline well text-center" method="post">
    <input type="text" class="form-control" id="post" name="post">
    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-comment text-primary-"></i> 发言</button>
</form>
</div>
<% } %>
