<%- include header %>
<%if(user){%>
<%- include say %>
<%}%>
<%- include posts %>
<script src="/javascripts/jquery-2.1.4.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>

<%- include footer %>
</body>
</html>